#page-reports {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.r-textarea {
    resize: vertical;
    border: none;
    outline: none;
    border-bottom: 3px solid var(--color-accent);
    border-radius: var(--round-amt);
    background-color: var(--color-background);
    transition-duration: var(--global-transition-duration);
}
.r-textarea:focus {
    border-bottom: 3px solid var(--color-dark);
}
.r-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: var(--color-primary);
    padding: 0.5em;
    padding-inline: 1em;
    border-radius: var(--round-amt);
    margin-top: 1em;
    transition-duration: var(--global-transition-duration);
}
.r-chunky-button {
    border: none;
    outline: none;
    background-color: var(--color-green);
    border-radius: var(--round-amt);
    cursor: pointer;
    padding: calc(var(--page-margin) * 2);
    font-size: 1.25rem;
    transition-duration: var(--global-transition-duration);
}
.r-chunky-button:hover {
    padding-inline: calc(var(--page-margin) * 3);
}
.r-chunky-button:active {
    transform: translateY(calc(var(--page-margin) * -1))
}
.r-generate-container {
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#r-graph-settings, #r-header-settings, #r-settings-double, #r-generate-settings {
    width: 25%;
    transition-duration: var(--global-transition-duration);
}
#r-report-structure {
    width: 45%;
}
#r-report-list {
    height: 70%;
}
.r-settings-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#r-settings-double {
    width: 25%;
}
.r-checkbox {
    padding: 0.5em;
    background-color: var(--color-background);
    border-radius: var(--round-amt);
    font-size: 1em;
    border-bottom: 3px solid var(--color-accent);
    height: 2em;
    width: 2em;
    box-sizing: border-box;
    transition-duration: var(--global-transition-duration);
    accent-color: var(--color-dark);
    cursor: pointer;
    margin-block: var(--page-margin);
}

#r-generate-settings {
    align-items: stretch;
    justify-content: flex-start;
}